<h1>Хроническая усталость</h1>
<h2>“Сухая” статистика</h2>
<p>По данным некоторых исследований синдромом хронической усталости страдают 30% населения и эта цифра продолжает расти.
  Феномен обусловлен ускоренным темпом жизни и бурным потоком информации, которая льётся на нас отовсюду.
  Особенно интенсивно этим воздействиям подвергаются жители мегаполисов - такова цена технического прогресса.</p>
<h2>Почему важно решить проблему?</h2>
<p>Проявления хронической усталости ощутимо влияют на качество жизни тех, кто от нее страдает. Люди с таким состоянием
  не могут полноценно радоваться жизни и достигать поставленных целей.
  В некоторых случаях даже “просто работать” уже не выходит.</p>
<h2>Что делать, если нет сил?</h2>
<p>Диагностировать! Искать причину! Ведь “хроническая усталость” - это заболевание, которое нужно устранить! В этом вам поможет BioCheck.

  Часто при проведении диагностики выявляются отклонения в анализах, а их коррекция - устраняет проблему.
  Эксперты и научные исследования подтверждают: причиной продолжительной усталости могут быть инфекции, эндокринные
  нарушения, аутоиммунные заболевания и многие другие болезни. В чек-апах учитываются эти нюансы: для диагностики
  синдрома хронической усталости подойдут оптимальный и расширенный CHECK-UP.</p>
<h2>Что будет, если не лечить?</h2>
<p>Если хроническую усталость не лечить, она может привести к осложнениям: пациенты становятся более восприимчивы
  к инфекциям, а постоянная усталость неизбежно снижает физическую активность и приводит к неправильному питанию.
  Это мы еще про психическое здоровье не упомянули: чувство тревоги и депрессия - верные спутники хронической усталости.
  Пациент попадает в замкнутый круг: хроническая усталость провоцирует нарушения работы организма и заболевания охотнее
  поражают ослабленного пациента. Всюду слабость и, в конце концов, резервы организма истощаются.
  Чтобы предотвратить хроническую усталость, важно вести здоровый образ жизни. Сбалансированное питание, регулярные
  физические упражнения и борьба со стрессом помогут улучшить общее состояние здоровья и предотвратить развитие
  хронической усталости. Кроме того, важно регулярно проходить обследования и сдавать анализы крови, чтобы выявить
  отклонения на ранней стадии. Подробнее - ниже.</p>
<h2>Как оставаться здоровым?</h2>
<p>Медицинские обследования BioCheck - нечто большее, чем просто “консультация врача”. Это Check-Up, направленный
  на раннее выявление заболеваний, до того, как они начнут проявляться симптомами.
  В наших программах всё учтено: расширенный check-up позволит проверить уровень гормонов в организме и вовремя выявить
  любые отклонения, интимный check-up пригодится в любовных делах и принесет спокойствие в вашу семью, онко check-up -
  для предупреждения онкологии.</p>
<h2>Как часто проходить Check-Up?</h2>
<p>Мы рекомендуем проходить чекап не реже одного раза в год, особенно если у вас:
  трудности с концентрацией внимания;
  нет сил на встречи с друзьями, семью, даже работу;
  вы испытываете усталость, которая не проходит после отдыха, сна и даже отпуска.
  вы активно занимаетесь спортом и много времени уделяете физической активности;
  страдаете от бессонницы, отёков, выпадения волос, кровоточащих дёсен и др.</p>


